.about-container{
    background-image: url('../../assets/images/babyfoot.png');
    background-size: cover;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container p{
    width: 70%;
    margin: 30px auto 0;

}

.about-content{
    z-index: 1;
    text-align: center;
}

.about-content h1{
    border-bottom: 2px solid var(--color-red);
    width: fit-content;
    margin: 0 auto;
}