.background-image{
    height: 100vh;
    background-image: url('../../assets/images/home_wallpaper.png');
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}

.text-container{
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.text-container h2 span{
    color: var(--color-red)
}

.cta{
    margin-top: 20px;
    display: flex;
    gap:40px;
    justify-content: center;
    font-size: 1rem;
}

.cta .link{
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.cta .link.menu{
    background-color: var(--color-red);
    border: var(--color-red);
}

@media (max-width: 768px){
    .background-image{
        background-position: 60%;
    }
}