.header{
    background-color: #242424;
    padding: 10px 0;
}

.logo{
    flex:40;
}

.burger-menu{
    width: 40px;
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 9999;
    background:none;
    border: none;
}

.burger-menu .top,
.burger-menu .middle,
.burger-menu .bottom{
    transition: all 400ms ease;
    width: 100%;
    height: 5px;
    background-color: white;
}

.burger-menu.open .top{
    transform:translateX(5px) rotate(45deg) translateY(13px) ;
}

.burger-menu.open .bottom{
    transform:translateX(5px) rotate(-45deg) translateY(-13px) ;
}

.burger-menu.open .middle{
    opacity: 0;
}
.navigation{
    flex: 60;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1{
    font-weight: bold;
}

.header-content h1 span{
    color: var(--color-red);
}

.navigation nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.call-us span{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-red);
}

@media (max-width: 768px) {
    .navigation{
        transition: all 400ms ease;
        background-color: #242424;
        width: 70%;
        position: fixed;
        right: 0;
        bottom: 0;
        top:0;
        flex-direction: column;
        justify-content: space-between;
        padding: 140px 0 20px;
        z-index: 100;
    }

    .navigation.close{
        transform: translateX(100%);
    }

    .navigation ul{
        flex-direction: column;
    }

    .burger-menu{
        display: flex;
    }
}